
body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


.form-register {
  width: 400px;
  background: rgba (255, 255, 255 , 0.2);
  padding: 30px;
  margin: auto;
  margin-top: 60px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
  border: 1px solid #81C14B;
}

.form-register h4 {
  font-size: 20px;
  margin-bottom: 25px;
  display: inline;
}

.controls {
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-right: 0;
  border: 1px solid #81C14B;
  font-family: "calibri";
  font-size: 13px;
}

.controls1 {
  width: 78%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-right: 2px;
  border: 1px solid #81C14B;
  font-family: "calibri";
  font-size: 13px;
  display: inline;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  display: inline;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.form-register .botons {
  width: 100%;
  background: #81C14B;
  border: none;
  padding: 10px;
  color: white;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 1px 4px 4px #000;
}

.form-register .botons:hover {
  width: 100%;
  background: #81C14B;
  border: none;
  padding: 10px;
  color: white;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 1px 4px 4px #000;
  text-decoration: underline;
  font-weight: bold;
}

.sele{
  width: 15%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 0;
  border: 1px solid #81C14B;
  font-family: "calibri";
  font-size: 13px;
  color: black;
  display: inline;
}

.img {
  width: 15%;
  display: inline;
  position: relative;
  padding-left: 100px;
}

.controlsn {
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-right: 0;
  margin-top: 20px;
  border: 1px solid #81C14B;
  font-family: "calibri";
  font-size: 13px;
}

.controlso {
  width: 95%;
  height: 70px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-right: 0;
  border: 1px solid #81C14B;
  font-family: "calibri";
  font-size: 13px;
  text-align:top;
}

.fooster {
  width: 100%;
  height: 100%;
  background: #6D6A75;
  padding-bottom: 5px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0;
}

.fooster .f1 {
  font-size: small;
  display: inline;
  font-family:sans-serif;
}

.check {
  display: inline;
  text-align: center;
  margin-left: 50px;
}
